<h1>System Information</h1>

<h2>Recent CPU Loads</h2>
<%= area_chart "/data/cpu",
ytitle: "Load Average",
library: {
  title: {
    text: "CPU Load Over Time",
  },
},
refresh: 5 %>

<h2>Memory Usage</h2>
<%= line_chart "/data/memory",
ytitle: "Used Memory (%)",
library: {
  title: {
    text: "Memory Usage",
    yAxis: {
      min: 0,
      max: 100,
    },
  },
},
refresh: 5 %>

<h2>Filesystem Usage</h2>
<%= line_chart "/data/filesystem",
ytitle: "Used Space (%)",
library: {
  title: {
    text: "Filesystem Usage",
  },
},
refresh: 5 %>
