<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Puny Monitor - Lightweight System Monitoring</title>
    <meta
      name="description"
      content="Puny Monitor is a lightweight system monitoring tool that tracks CPU usage, memory usage, disk I/O, and network bandwidth."
    >
    <meta name="robots" content="noindex">
    <link rel="icon" href="favicon.ico" sizes="32x32">
    <link rel="icon" href="icon.svg" type="image/svg+xml">

    <script
      src="https://cdn.jsdelivr.net/npm/chartkick@4.2.0/dist/chartkick.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@2.0.0/dist/chartjs-adapter-date-fns.bundle.min.js"
    ></script>
    <link
      rel="preload"
      href="fonts/Rubik.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    >
    <link href="style.css" rel="stylesheet">

  </head>
  <body>
    <header>
      <%= logo %>
      <h1>Puny Monitor</h1>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      Found an issue or need a feature? File an issue on
      <a href="https://github.com/hschne/puny-monitor">GitHub!</a>
    </footer>
  </body>
</html>
